<StackLayout>
    <Label class="main_one" text="BACKENDCONNECTIVITY"></Label>



    <Label class="subheading" text="Name:"></Label>
    <TextField class="coloring" hint="Enter Name" [(ngModel)]="name_details"></TextField>

    <Label class="subheading" text="Email: "></Label>
    <TextField class="coloring" hint="Enter Email Address" autocapitalizationType="none" autocorrect="false" [(ngModel)]="add_details"></TextField>

    <Label class="subheading" text="password: "></Label>
    <TextField  class="coloring" hint="Enter password" [(ngModel)]="pass_details"></TextField>


    <Button class="submit" text="Submit" (tap)="uploadFile()"></Button>

    <Progress [value]="percent" maxValue="6" (loaded)="onProgressLoaded($event)" class="m-t-20 m-b-10"></Progress>

</StackLayout>
